body {
  font-family: 'Courier New', 'monospace';
  text-align: center;
  background-color: #ffffff;
}

button{
  font-family: 'Courier New', 'monospace';
  background-color: #f9f2e0;
  font-size: 16px; 
  width: 240px;
  height: 240px;
  border-radius: 12px;
}
.title {
  width: 1;
  height: 100px;
  padding: 10px;
  border: 3px solid #fbcbdb;
  border-radius: 90px;
  text-align: center;
}
.sidebar{
  width: 250px;
  height: 100vh;
  color: #00171F;
  padding-top: 20px;
  background-color: #f9e7ee;
}

.buttons{
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
}